<div class="footer">
    <span>
        &copy; 2024 guillermotp. Todos los derechos reservados
    </span>
    <span class="contact">
        <a href="https://www.instagram.com/guillermojp__/" target="_blank">
            <i class='bx bxl-instagram icon'></i>
        </a>
        <a href="https://web.whatsapp.com/" target="_blank">
            <i class='bx bxl-whatsapp icon'></i>
        </a>
        <a href="https://www.linkedin.com/in/guillermo-trujillo-pantoja/" target="_blank">
            <i class='bx bxl-linkedin-square icon'></i>
        </a>
    </span>
</div>