<section class="projects" id="projects">
    <h2>
        <i class='bx bxs-keyboard icon'></i>
        Proyectos
    </h2>
    <div class="projects-content">
        <div class="border-img">
            <img src="assets/img/proyectoMKL.webp" alt="proyecto de sistema de ventas">
        </div>
        <div>
            <h3>
                Sistema De Ventas - MKL
            </h3>
            <div class="tools">
                <span class="tools-icon"  style='background: #FF004D'>
                    <i class='bx bxl-angular'></i>
                </span>
                <span class="tools-icon"  style='background: #387ADF'>
                    <i class='bx bxl-typescript'></i>
                </span>
            </div>
            <p>Aplicación web realizada para la empresa MKL, cuenta con una API REST que nos permite gestionar el inventario para los productos, un control sobre los usuarios y realizar ventas obteniendo datos de clientes y de los productos en el inventario.
            </p>
            <div class="links">
                <a href="https://github.com/guillermotp01/front-mkl" target="_blank">
                    <span class="tools-icon code-preview">
                        <i class='bx bxl-github icon' ></i>
                        Código
                    </span>
                </a>
                <a href="https://github.com/guillermotp01/front-mkl" target="_blank">
                    <span class="tools-icon code-preview">
                        <i class='bx bx-link icon'></i>
                        Visitar
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="projects-content">
        <div class="border-img">
            <img src="assets/img/api.webp" alt="proyecto de apirest">
        </div>
        <div>
            <h3>
                API REST - MKL
            </h3>
            <div class="tools">
                <span class="tools-icon" style='background: linear-gradient(to right,#BF3131, #3468C0)'>
                    <i class='bx bxl-java'></i>
                </span>
                <span class="tools-icon" style='background: #65B741'>
                    <i class='bx bxl-spring-boot'></i>
                </span>
            </div>
            <p>Esta API REST fue realizada para la empresa MKL, cuenta con un CRUD para productos, usuarios y las ventas que realiza la empresa, tambien nos ayuda con la seguridad para los usuarios.
            </p>
            <div class="links">
                <a href="https://github.com/guillermotp01/spring-tienda" target="_blank">
                    <span class="tools-icon code-preview">
                        <i class='bx bxl-github icon' ></i>
                        Código
                    </span>
                </a>
                <a href="https://github.com/guillermotp01/spring-tienda" target="_blank">
                    <span class="tools-icon code-preview">
                        <i class='bx bx-link icon'></i>
                        Visitar
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="projects-content">
        <div class="border-img">
            <img src="assets/img/textimel.webp" alt="proycto textimel">
        </div>
        <div>
            <h3>
                Página E-commerce - TEXTIMEL
            </h3>
            <div class="tools">
                <span class="tools-icon" style='background: #416D19'>
                    <i class='bx bxl-nodejs'></i>
                </span>
                <span class="tools-icon" style='background: #004225'>
                    <i class='bx bxl-mongodb'></i>
                </span>
            </div>
            <p>Esta aplicación web fue realizada para la empresa Textimel, cuenta con una gestion de productos que ayuda al cliente poder visualizar todos los detalles de este producto, el cliente puede agregar productos al carrito para poder completar su compra.
            </p>
            <div class="links">
                <a href="https://github.com/guillermotp01/Textimel" target="_blank">
                    <span class="tools-icon code-preview">
                        <i class='bx bxl-github icon' ></i>
                        Código
                    </span>
                </a>
                <a href="https://github.com/guillermotp01/Textimel" target="_blank">
                    <span class="tools-icon code-preview">
                        <i class='bx bx-link icon'></i>
                        Visitar
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
