<section class="profile" id="aboutme">
    <div class="profile-content">
        <h1>Hola, Soy Guillermo</h1>
        <p>Estudiante de Ingeniería de Sistemas Computacionales en la Universidad Privada del Norte, con experiencia en el desarrollo de proyectos tanto personales como universitarios. Con conocimientos en diversos lenguajes de programación y estoy entusiasmado por aplicar lo aprendido en nuevos retos.</p>
        <div class="profile-links">
            <a href="https://www.linkedin.com/in/guillermo-trujillo-pantoja/" target="_blank">
                <span class="icon">
                    <i class='bx bxl-linkedin-square'></i>
                    LinkeIn
                </span>
            </a>
            <a href="https://github.com/guillermotp01" target="_blank">
                <span class="icon">
                    <i class='bx bxl-github' ></i>
                    GitHub
                </span>
            </a>
            <a href="#" (click)="descargarCV()">
                <span class="icon">
                    <i class='bx bx-download'></i>
                    Descarga mi CV
                </span>
            </a>
        </div>
    </div>
    <div class="profile-img">
        <img src="assets/img/img.webp" alt="foto de perfil">
    </div>
</section>
