<section class="skills" id="skills">
    <h2>
        <i class='bx bx-code-alt icon'></i>
        Conocimientos
    </h2>
    <div class="skills-content">
        <i class='bx bxl-html5 skills-icon'></i>
        <i class='bx bxl-css3 skills-icon'></i>
        <i class='bx bxl-sass skills-icon'></i>
        <i class='bx bxl-javascript skills-icon'></i>
        <i class='bx bxl-typescript skills-icon'></i>
        <i class='bx bxl-angular skills-icon'></i>
        <i class='bx bxl-java skills-icon'></i>
        <i class='bx bxl-python skills-icon'></i>
        <i class='bx bxl-spring-boot skills-icon'></i>
        <i class='bx bxl-nodejs skills-icon'></i>
        <i class='bx bxl-mongodb skills-icon'></i>
        <i class='bx bxl-git skills-icon'></i>
    </div>
</section>
