<section class="experience" id="experience">
    <h2>
        <i class='bx bx-briefcase-alt icon'></i>
        Experiencia
    </h2>
    <div>
        <li class="experience-content">
            <div>
                <h3>
                    MKL Ingenieria Textil
                </h3>
                <time>
                    Enero-Marzo / 2024
                </time>
            </div>
            <p>Diseñé y desarrollé una aplicación web especializada en la gestión de inventario para una empresa. Esta plataforma garantiza la seguridad de los usuarios mientras facilita la administración de productos, llevando un registro detallado de las ventas y asegurando un eficiente manejo del stock disponible.</p>
        </li>
        <li class="experience-content">
            <div>
                <h3>
                    Texmitel Moda
                </h3>
                <time>
                    Agosto-Diciembre/2023
                </time>
            </div>
            <p>
                Desarrollé un proyecto e-commerce para Textimel, con funciones de compra para clientes y herramientas administrativas para cambiar roles de usuarios y modificar productos. La web busca simplificar la experiencia de compra y facilitar la gestión para los administradores.</p>
        </li>
        <li class="experience-content">
            <div>
                <h3>
                    Webhelp Rappi
                </h3>
                <time>
                    Febrero-2022/Julio-2023
                </time>
            </div>
            <p>
                Gestioné el área de pagos, brindando apoyo a repartidores con problemas de transacciones por fallos en tarjetas. Mis responsabilidades fueron asignar montos apropiados y realizar cambios de PIN, garantizando una continuidad sin contratiempos en las compras asignadas.</p>
        </li>
    </div>
</section>
